/.venv
.env
/.vscode
/src/django_unkey/db.sqlite3
*.pyc
/src/django_unkey/django_unkey/__pycache__/
/src/django_unkey/template_api/__pycache__/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
.idea/
*.swp
*.swo